<router-outlet></router-outlet>
<table class="table table-striped">
  <tr>
    <th *ngFor="let col of columns">
      {{col}}
    </th>
  </tr>
  <tr *ngFor="let user of data">

    <td>
      {{user.id}}
    </td>

    <td *ngIf="user.id == editRowId">
      <input type="text" [(ngModel)]="user.name">
    </td>
    <td *ngIf="user.id !== editRowId" (click)="EditRowId(user.id)">
      {{user.name}}
    </td>

    <td *ngIf="user.id == editRowId">
      <input type="text" [(ngModel)]="user.username">
      <button type="submit" value="Submit" (click)=submitData(user)>V</button>
    </td>
    <td *ngIf="user.id !== editRowId" (click)="EditRowId(user.id)">
      {{user.username}}
    </td>
  </tr>
</table>